<!--友情链接-->
<div id="links_bg">
  <div class="box">
    <div id="links_box">
      <div class="links_mc"><b>友情链接：</b></div>
      <div class="links_mc"><a href="http://www.wangjie.org/" target="_blank" class="links_a" title="">DIV+CSS</a></div>
      <div class="links_mc"><a href="http://http//www.yixieshi.com" target="_blank" class="links_a" title="">互联网的一些事</a></div>
      <div class="links_mc"><a href="http://logozhizuowang.com/" target="_blank" class="links_a" title="">logo下载</a></div>
      <div class="links_mc"><a href="http://www.uimaker.com/" target="_blank" class="links_a" title="">UI设计</a></div>
      <div class="links_mc"><a href="http://www.52psxt.com/" target="_blank" class="links_a" title="">学习PS网站</a></div>
      <div class="links_mc"><a href="http://www.33.la/" target="_blank" class="links_a" title="">桌面主题</a></div>
      <div class="links_mc"><a href="http://www.51xflash.com/" target="_blank" class="links_a" title="">我要学flash网</a></div>
      <div class="links_mc"><a href="http://www.logorc.com/" target="_blank" class="links_a" title="">logo设计</a></div>
      <div class="links_mc"><a target="_blank" class="links_a" href="#" title="更多友 情链接">更多友情链接</a></div>
      <div class="clear"></div>
    </div>
  </div>
</div>