<!--#### logo ####-->
<div id="logo_box">
  <div id="logo_img">
    <a href="./index.htm" title=""><img src="/Images/logo.png" alt=""></a>
  </div>

  <!--#### 签名 ####-->
  <div id="slogan">
    <p>根本没有正确的选择，我们只有靠奋斗来使当初的选择显得正确。</p>
    <p align="right">—— 一个有思考的程序员</p>
  </div>

  <!--#### 搜索框 ####-->
  <div id="searche_box">
    <form name="searchform" id="searchform" method="get" action="#" target="_blank">
      <div style=" height:28px; width:240px; float:left; overflow:hidden">
        <input type="text" id="input_blur" name="keyboard" value="" size="20">
      </div>
      <div style=" height:28px; width:34px; float:left; overflow:hidden">
        <input src="./Images/ss3.gif" type="image" name="s" id="button" value="搜索" class="button_style">
      </div>
    </form>
  </div>
</div>