body,button,input { font-family:tahoma, helvetica, arial; }
body { background-image: url("../Images/bamboo.jpg");}
a{color:#8cab4e;}
a:hover{color:#365000;}
.mod-topspaceinfo .space-name{font-family:tahoma, helvetica, "microsoft yahei", arial;}
.mod-topspaceinfo{overflow:hidden;}
.mod-topspaceinfo .container{width:800px;padding:20px 0 20px 0;margin:0 auto;}
.mod-topspaceinfo .space-name{font-size:50px;font-weight:normal;text-shadow:-2px 2px #fff;}
.mod-topspaceinfo .space-description{font-size:14px;margin-top:15px;color:#979797;}
.mod-text-content .text-content img{margin-bottom:8px;}
.mod-post-content{border:1px solid #dedede;border-top:2px solid #3fa7cb;padding:25px 20px;background:#fff;}
.mod-post-content .content{width:758px;overflow:hidden;font-size:14px;line-height:1.5;margin:7px 0 10px 0;}
.mod-post-content .content a{text-decoration:underline;}
.mod-post-content .description{color:#3a3a3a;font-size:14px;line-height:25px;margin-bottom:25px;}
.mod-post-content .content img{clear:both;max-width:758px;vertical-align:top;}
.mod-post-content .description img{position:relative;top:5px;}
.mod-page-body a.a-normal{color:#8cab4e;}.mod-page-body a.a-normal:hover{color:#365000;}
.mod-page-body a.a-incontent{color:#8cab4e;}.mod-page-body a.a-incontent:hover{color:#365000;}
.mod-diary{margin:50px auto 20px;width:990px;background:url(../Images/leather-tile.jpg) repeat-y;}
.mod-diary-top {width:990px; height:22px; background:url(../Images/leather-top.png) no-repeat; }
.mod-diary-bottom{width:990px;height:23px;background:url(../Images/leather-bottom.png) no-repeat; }
.mod-diary-inner{position:relative;margin:7px 25px 0;padding:150px 0 60px;width:940px;min-height:300px;_height:300px;background:#fcf8e9 url(../Images/paper.png?v=b0422474.png) repeat-y;}
.mod-diary-pen{position:absolute;left:10px;top:15px;width:53px;height:465px;background:url(../Images/pen.png?v=71afdd0a.png) no-repeat;}
.mod-diary-nav{position:absolute;left:-27px;top:120px;width:955px;height:71px;background:url(../Images/nav.png?v=ba3f210a.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="../Images/nav.png?v=ba3f210a.png");}
.mod-diary-clip{position:absolute;right:-21px;top:10px;width:23px;height:256px;background:url(../Images/clip.png?v=95220824.png) no-repeat;}
.mod-topspaceinfo h1{position:absolute;left:0;top:27px;width:940px;height:90px;overflow:hidden;font-size:50px;line-height:90px;font-weight:normal;text-align:center;}
.mod-topspaceinfo .space-name{color:#8cab4e;}.mod-topspaceinfo .space-description{position:absolute;margin-top:0;left:118px;top:137px;width:770px;height:36px;overflow:hidden;font-size:12px;line-height:18px;color:#fff;font-family:Tahoma, Arial, Helvetica, STHeiti;}
.mod-topspaceinfo{overflow:hidden;}
.mod-topspaceinfo .head-topbar{display:none;}
.mod-blogpage{margin-top:40px;margin-left:188px;width:722px;position:relative;overflow:visible;}
.mod-post-content{border:none;padding:0;background:none;}
.mod-post-content .description{color:#3a3a3a;}
.mod-post-content .content{font-size:12px;line-height:24px;width:722px;}
.mod-post-content .content img{max-width:702px;}
.mod-footer .footer-box .inner-box{color:#c65c38;}