* { margin:0; padding:0; }
body { background:black; color:#c915e4; font:12px/1.6em Helvetica, Arial, sans-serif; }
a { color:#0287CA; text-decoration:none; }
a:hover { text-decoration:underline; }
ul, li { list-style:none; }
fieldset, img { border:none; }
legend { display:none; }
em, strong, cite, th { font-style:normal; font-weight:normal; }
input, textarea, select, button { font:12px Helvetica, Arial, sans-serif; }
table { border-collapse:collapse; }
html { overflow:-moz-scrollbars-vertical; } 
/*#ibanner { position:relative; width:650px; height:463px; overflow:hidden; margin:20px 0 20px 300px; }*/
#ibanner { position:relative; width:800px; height:450px; overflow:hidden; margin:20px 0 20px 300px; }
#ibanner_pic {}
#ibanner_pic a { position:absolute; top:0; display:block; width:800px; height:450px; overflow:hidden; }
#ibanner_btn { position:absolute; z-index:9999; right:5px; bottom:5px; font-weight:700; font-family:Arial; }
#ibanner_btn span { display:block; float:left; margin-left:4px; padding:0 5px; background: green; cursor:pointer; }
#ibanner_btn .normal { height:20px; margin-top:8px; border:1px solid white; color: white; font-size:16px; line-height:20px; }
#ibanner_btn .current { height:28px; border:1px solid #c4f762; color: #c4f762; font-size:28px; line-height:28px; }
